<ng-select
  [items]="data"
  name="attr1"
  groupBy="avatar"
  [ngModel]="selectedData"
  (ngModelChange)="onChange($event)"
  [placeholder]="placeholder$ | async"
  [loading]="data !== undefined && data.length === 0"
  [searchable]="false "
  [clearable]="false"
  [multiple]="false"
  bindLabel="name"
  bindValue="name">
  <ng-template ng-label-tmp let-item="item">
    <img height="15" width="15" src='{{"../../assets/png/" + item.code + ".png"}}'/>&nbsp;&nbsp;
    {{item.code}} - {{item.name}}
  </ng-template>
</ng-select>
